.nav-bar {
  background-color: #f6f6f7;
  margin-bottom: 3em;
  display: flex;
  flex-direction: row-reverse;
}

.cart-button {
  margin-right: 5%;
  background-color: rgb(255, 242, 230);
  padding: 1em;
  cursor: pointer;
}

.cart-container {
  position: absolute;
  top: 3em;
  right: 0;
  z-index: 1000;
  height: auto;
  background-color: white;
  overflow-y: auto;
  border: solid;
  border-width: 2px;
  margin-right: 5%;
  width: 300px;
}

/* Cart Item */
.cart-prod-container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cart-prod-img {
  width: 80px;
  height: auto;
}
