.size-btn {
  border: solid;
  border-width: 3px;
  border-color: #cccccc;
  color: #888888;
  width: 1em;
  padding: 1em;
  cursor: pointer;
}

.btn-selected {
  border-color: black;
  color: black;
}

.btn-container {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}
